* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

/* Корпус монитора */
.monitor {
    width: 650px;
    height: 500px;
    background: #333;
    border-radius: 30px;
    padding: 25px;
    box-shadow: inset 0 0 60px #000, 0 50px 100px rgba(0,0,0,0.5);
    border: 8px solid #444; /* Сделаем рамку потолще для солидности */
}

/* Экран */
.screen {
    background: #001a00;
    flex-grow: 1; /* Занимает всё доступное место в мониторе */
    height: 100%;
    border-radius: 15px;
    position: relative;
    overflow-y: auto;
    padding: 20px;
    color: #00ff00;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    border: 2px solid #111; /* Внутренняя каемка экрана */
}

/* Линии развертки */
.scanlines {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%);
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 10;
}

/* Терминал и инпут */
.input-line {
    display: flex;
    align-items: center;
    gap: 5px;
}

#tree-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 1.2rem;
    background: #00ff00;
    animation: cursor-blink 0.8s infinite;
}

/* Стили елки */
#tree-display {
    text-align: center;
    margin-top: 20px;
    white-space: pre;
    font-weight: bold;
}

/* Цвета гирлянд */
.star-1 { color: #ff3333; text-shadow: 0 0 10px #ff0000; animation: blink 0.8s infinite; }
.star-2 { color: #ffff33; text-shadow: 0 0 10px #ffff00; animation: blink 1.2s infinite; }
.star-3 { color: #33ffff; text-shadow: 0 0 10px #00ffff; animation: blink 1s infinite; }
.star-default { color: #00ff00; }
.trunk { color: #8b4513; }

@keyframes cursor-blink { 0%, 100% { opacity: 1; } 50% { opacity: 0; } }
@keyframes blink { 0%, 100% { filter: brightness(1.2); opacity: 1; } 50% { filter: brightness(0.5); opacity: 0.7; } }
@keyframes fudge { from { transform: translate(0); } to { transform: translate(0.5px, 0.5px); } }


.screen::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Скрываем для Firefox */
.screen {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media screen and (min-width: 768px) {
    .monitor {
        zoom: 1.3;
    }
}